<!DOCTYPE html>
<html>
    <head>
        <title>Peer-player</title>
    </head>
    <body>
        <span id="PEER_PLAYER_ROOM" style="display: none">{{ roomId }}</span>
        <h1>Peer-player</h1>
        <label for="username">Username:</label><input type="text" id="username" name="username" value="toto"/>
        <ul id="chatMessages"></ul>
        <textarea id="messageBox"></textarea>
        <button id="sendMessage">Send</button>
        <script src="js/app.js"></script>
    </body>
</html>